@model IEnumerable<PopsAnimalControl_MVC.Models.ViewModels.BreedViewModels.DogBreedListItem>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<hr />
<h2>Dog Breeds:</h2>


@if (Model is null)
{
    <p>There are no loaded Dog Breeds</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BreedID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BreedName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BreedID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BreedName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BreedID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BreedID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BreedID })
                </td>
            </tr>
        }

    </table>
}
