@model PopsAnimalControl_MVC.Models.ViewModels.ApplicantVieModels.ApplicantDetail

@{
    ViewBag.Title = "MyInfo";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>My Application Details</h2>

<div>
    @Html.ActionLink("MyHub-Home", "Index", "MyHUB")
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SocialSecurityNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SocialSecurityNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyAName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyAReferenceFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAReferenceFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyAReferenceLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAReferenceLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyAAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyADateStarted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyADateStarted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyADateEnded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyADateEnded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyAMayWeContactThisEmployer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAMayWeContactThisEmployer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyBName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyBName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyBReferenceFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyBReferenceFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyBReferenceLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyBReferenceLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyBAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyBAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyBDateStarted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyBDateStarted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyBDateEnded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyBDateEnded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyBMayWeContactThisEmployer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyBMayWeContactThisEmployer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyCName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyCReferenceFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyCReferenceFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyCReferenceLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyCReferenceLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyCAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyCAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyCDateStarted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyCDateStarted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyCDateEnded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyCDateEnded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyCMayWeContactThisEmployer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyCMayWeContactThisEmployer)
        </dd>

    </dl>
</div>
<p>

    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")*@
</p>
