@model PopsAnimalControl_MVC.Models.ViewModels.PokemonViewModels.PokemonDetail

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Details</h2>

<div>
    <h4>PokemonDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PokemonBirthName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PokemonBirthName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PokeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PokeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfCapture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfCapture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasCollarIdentification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasCollarIdentification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasChipIdentification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasChipIdentification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaptureWorth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaptureWorth)
        </dd>

    </dl>
</div>

<br />
<br />
<div>
    <h1>Abilities</h1>
    <hr />
    @if (Model.abilities.Count()<=0 || Model is null)
    {
        <p>Poke Data Unavailable</p>
    }
    else
    {
        <ol>
            @foreach (var item in Model.abilities)
            {
                <li>@item.ability.name</li>
            }
        </ol>
    }
</div>
<br />
<br />
<div>
    <h1>Moves</h1>
    <hr />
    @if (Model.moves.Count <= 0)
    {
        <p>Poke Data Unavailable</p>
    }
    else
    {
        <ol>
            @foreach (var item in Model.moves)
            {
                <li>@item.move.name</li>
            }
        </ol>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PokeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
